<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MindtekTestNGFramework">
    <test name="UI Automation">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="tests.BlazeDemoTests"/>
            <class name="tests.SauceLabsTests"/>
            <class name="tests.StoreAppTests"/>
        </classes>
    </test>
</suite>
